<html>
    <head>
        <title>Bank ATM</title>
    </head>
    <body>
        Balance: {{balance}}
        <br><br>
        <form action="{{url_for('server')}}" id="form" method="POST">
            Amount: <input type="number" id="amount" name="amount" value="amount" min="0" max="10000" required><br><br>
            <input type="submit" id="withdraw" name="action" value="Withdraw" onclick="return validate(this)">
            <input type="submit" id="deposit" name="action" value="Deposit" onclick="return validate(this)" >
        </form>
        <br><br>
        <p>{{msg}}</p>
    </body>
</html>
